.StocksTimeSeries {
    text-align: center;
  }
.custom-hover:hover {
   color: #ffffff;
}
.custom-modal .makeStyles-paper-5{
    width: 34%;
    height: 84%;
    display: flex;
    justify-content: center;
    background-color: #eeeeee !important;
    border: none !important;
}