.StocksTimeSeries {
    text-align: center;
  }
.spinner {
    position: fixed;
    left: 50%;
    top: 35%;
    z-index: 1000;
    height: 31px;
    width: 31px;
}
.custom-hover:hover {
   color: #ffffff;
}
.custom-modal .makeStyles-paper-5{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    background-color: #eeeeee !important;
    border: none !important;
}