.stocks-list {
    background-color: #C8C8C8 !important;
    margin: auto;
  width: 50%;
}
.main-div {
    justify-content: center;
}
.stock-dataset span{
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.add-stock {
    background-color: #66CC66 !important;
  
}
.add-stock span {
    color: #ffffff;
}
.add-icn {
    top: 12px;
    float: right;
    position: inherit;
}
.remove-icn {
    top: 12px;
    float: right;
    position: inherit;
}
